* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    position: absolute;
    display: flex;
    width: 100%;
    min-width: 90vw;
    place-content: center;
    place-self: center;
}
#pageHeader {
    position: absolute;
    display: flex;
    place-items: end;
    place-content: center;
    height: 115px;
    width: 100%;
}
#pageTitle {
    user-select: none;
    position: absolute;
    display: flex;
    place-items: center;
    place-content: center;
    font-family: 'Fjalla One';
    font-weight: lighter;
    font-size: 70px;
}
#pageNavBar {
    position: absolute;
    display: flex;
    place-items: center;
    place-content: center;
    height: 50px;
    width: 90%;
    top: 115px;
    border: solid gray;
    border-width: 1px 0 1px 0;
    font-family: Helvetica, sans-serif;
    font-size: x-small;
}

#pageMain {
    position: absolute;
    display: flex;
    flex-direction: row;
    height: 50vw;
    width: 90%;
    max-height: 85vh;
    min-height: 60vh;
    top: 165px;
    background-color: whitesmoke;
}
#todayPuzzle {
    position: relative;
    display: flex;
    flex-direction: column;
    height: 50vw;
    width: 50vw;
    max-height: 85vh;
    min-height: 60vh;
    border-width: 0 1px 0 0;
    border-color: gray;
    border-style: solid;
}
#olderPuzzleBucket {
    position: relative;
    display: flex;
    flex-direction: column;
    height: 50vw;
    width: 50vw;
    overflow-y: scroll;
    max-height: 85vh;
    min-height: 60vh;
}

.olderPuzzle {
    user-select: none;
    position: relative;
    border: solid gray;
    border-width: 0 0 1px 0;
    padding: 10px;
    font-family: Georgia, Times, 'Times New Roman', serif;
    color: grey;
    font-size: 14px;
    font-weight: 400;
    background-color: whitesmoke;
}
.olderPuzzle:hover {
    background-color: lightgray;
}
.olderPuzzle:active {
    background-color: lightblue;
}
.puzzleDate {
    font-weight: bold;
    color: black;
    font-size: 16px;
}

/*Button formatting*/
a {
    text-decoration: none;
    color: black;
    font-size: 1.5em;
    font-weight: 700;
    display: block;
}
.button {
    user-select: none;
    position: relative;
    place-content: center;
    height: 100%;
    padding: 0 10px 0 10px;
}
.button:hover {
    background-color: lightgray;
}
.button:active {
    background-color: lightblue;
}
#timer {
    position: absolute;
    left: 0px;
}

/*Grid formatting*/
#todayPuzzle {
    user-select: none;
    position: relative;
    display: flex;
    flex-direction: column;
    place-items: center;
    place-content: center;
    font-family: Georgia, Times, 'Times New Roman', serif;
    color: black;
    font-size: 16px;
}
#todayPuzzleDate {
    position: relative;
    display: flex;
    place-content: center;
    text-align: center;
    width: 80%;
    font-size: 26px;
    font-weight: bold;
    padding: 5px;
}
#todayPuzzleTitle {
    position: relative;
    display: flex;
    place-content: center;
    text-align: center;
    width: 80%;
    padding: 5px;
    padding: 5px 0 15px 0;
}
#todayPuzzleAuthor {
    position: relative;
    display: flex;
    place-content: center;
    text-align: center;
    width: 80%;
    padding: 15px 0 15px 0;
}
#gridIcon {
    position: relative;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(3, 1fr);
    width: 50%;
    border: 1px solid black;
    aspect-ratio: 1 / 1;
}
.cell {
    width: 100%;
    height: 100%;
    background-color: white;
    border: 1px solid black;
}
.blackCell {
    width: 100%;
    height: 100%;
    background-color: black;
    border: 1px solid black;
}