/*Global*/
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    user-select: none;
}
a {
    text-decoration: none;
    color: black;
}
body {
    position: relative;
    display: flex;
    flex-direction: column;
    place-items: center;
    width: 100%;
    background-color: white;
}

/*Page Header*/
#pageHeader {
    position: relative;
    display: flex;
    place-content: center;
    width: 100%;
    padding: 8px 0;
}
#pageTitle {
    position: relative;
    display: flex;
    font-family: 'Fjalla One', 'Times New Roman', serif;
    font-weight: lighter;
    font-size: clamp(10px, 20vw, 70px);
}
.navBar {
    position: relative;
    display: flex;
    flex-direction: row;
    place-items: center;
    place-content: center;
    height: 50px;
    width: 90%;
    border: solid gray;
    border-width: 1px 0;
    font-family: Helvetica, sans-serif;
    font-size: 16px;
}

/*Main Page*/
#pageMain {
    position: relative;
    display: flex;
    flex-direction: column;
    place-content: center;
    place-items: center;
    width: 90%;
    top: 10px;
}
.weekBucket {
    position: relative;
    display: flex;
    flex-direction: row;
    width: 100%;
    height: 20vw;
    min-height: 200px;
    margin: 10px;
    gap: 20px;
    overflow-x: scroll;
    scrollbar-width: none;
}
.puzzleCard {
    position: relative;
    display: flex;
    flex-direction: column;
    height: 100%;
    aspect-ratio: 1 / 1.1;
    background-color: lightgray;
    border-radius: 10px;
    place-items: center;
    text-align: center;
}
.currentWeekBucket {
    height: 30vw;
    min-height: 300px;
}
.currentPuzzleCard {
    background-color: lightblue;
}
.weekLabel {
    position: relative;
    width: 100%;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-weight: 700;
    font-size: 3cqh;
}
.title {
    font-size: 4cqh;
    margin: 2px 0;
}
.date {
    font-size: 3cqh;
    margin: 0 0 10px 0;
}
.author {
    font-size: 3cqh;
    margin: 10px 0;
}
.currentWeekTitle {
    font-size: 5cqh;
}
.currentWeekDate, .currentWeekAuthor {
    font-size: 3.5cqh;
}
.grid {
    position: relative;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(2, 1fr);
    width: 50%;
    aspect-ratio: 1 / 1;
    border: 1px solid black;
    background-color: white;
    place-self: center;
}
.cell {
    width: 100%;
    height: 100%;
    background-color: white;
    border: 1px solid black;
}
.blackCell {
    width: 100%;
    height: 100%;
    background-color: black;
    border: 1px solid black;
}

/*Buttons*/
.button {
    position: relative;
    place-content: center;
    height: 100%;
    padding: 0 10px;
    font-weight: 700;
}
.button:hover, .olderPuzzle:hover {
    background-color: lightgray;
}
.button:active, .olderPuzzle:active {
    background-color: lightblue;
}

/****************************************************/

/*Computer full window dynamic sizing*/
@media only screen and (min-width: 900px) {
    /*Page Header*/
    #puzzleInfo, .navBar, #pageMain {
        width: 80%;
    }
}